<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Address Book</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/app.css" />
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/bootstrap.js"></script>
</head>
<body>

<% if (currentUser){ %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/contacts/new">Add</a></li>
      </ul>
      
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<% } else{%>
  <div id="jumb_contain" class="container">
  
    <div class="jumbotron">
      <h1>Address Book!</h1>
      <p>A simple online based address book system where a registered user can store addresses of their acquaintances</p>
    </div>

<% } %>

<% if (flashMessageError && flashMessageError.length > 0){ %>
  <div class="alert alert-danger" role="alert"><%= flashMessageError %></div>
<% } %>

<% if (flashMessageSuccess && flashMessageSuccess.length > 0){ %>
  <div class="alert alert-success" role="alert"><%= flashMessageSuccess %></div>
<% } %>
